//Our Vision

@media(min-width:320px) {
    .our-vision {
        padding: 40px 0 50px;
    }
}

@media(min-width: 992px) {
    .our-vision {
        padding: 104px 0 133px;
        .vision {
            position: relative;
            right: 42px;
        }
    }
}
