//Meet our Team

@media (min-width: 320px) {
    .meet-our-team {
        padding: 30px 0 80px;
    }
}

@media (min-width: 992px) {
    .meet-our-team {
        padding: 50px 0 100px;
    }
}

.meet-our-team {
    .team-member {
        position: relative;

        .fa-linkedin-in {
            position: absolute;
            bottom: 16px;
            right: 15px;
            color: white;
            font-size: 30px;

            &:hover {
                text-decoration: none;
            }
        }

        img {
            transition: 0.5s linear;

            &:hover {
                transform: scale(1.03);
            }
        }
    }
    h4 {
        color: #1e1e1e;
        letter-spacing: normal;
        line-height: 27px;
        font-size: 22px;
    }

    p {
        color: #1a77cd;
        letter-spacing: normal;
        line-height: 27px;
        font-size: 18px;
        font-weight: 500;
    }
}

//Team Member page

.team-member-first {
    .header {
        h1 {
            color: #1e1e1e;
            letter-spacing: normal;
            line-height: 64px;
            font-size: 40px;
        }

        p {
            color: #1a77cd;
            letter-spacing: normal;
            line-height: 27px;
            font-size: 18px;
        }
    }
    .paragraph {
        p {
            color: #1e1e1e;
            letter-spacing: normal;
            line-height: 25px;
            font-size: 16px;
            font-weight: 300;
        }
    }
}

@media (min-width: 320px) {
    .team-member-first {
        padding: 30px 0 60px;
    }
}

@media (min-width: 992px) {
    .team-member-first {
        padding: 50px 0 130px;
    }
}

